In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Add dirt 
df1 = pd.concat([df.head(10), df], axis=0)
df1['Pclass'].iloc[1] = str(df1['Pclass'].iloc[1])

C:\Users\OMARS\AppData\Local\Temp\ipykernel_18840\2886373929.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Pclass'].iloc[1] = str(df1['Pclass'].iloc[1])

In [5]:
def duplicated_score(df):
   Number_duplicat = df.duplicated().sum()
   score = 1-Number_duplicat*2/(df1.shape[0]-Number_duplicat)
   adj_score = np.square(score)
   return adj_score

In [6]:
def columns_type_score(df):
    object_columns = df.columns
    count = 0
    for col in object_columns:
        num_type = df[col].dropna().apply(type).nunique()
        if num_type != 1:
            count += 1
        score = 1-count/len(object_columns)
        adj_score = np.square(score)
    return adj_score

In [7]:
def isna_score(df):
    col_na = df.isna().any().sum()
    num_col =df.shape[1]
    score = 1 - col_na/num_col
    adj_score = np.square(score)
    return adj_score

In [8]:
def Evaluate_Your_Data(df):
    duplicated = duplicated_score(df)
    columns_type = columns_type_score(df)
    isna = isna_score(df)
    score = 0.2*duplicated + 0.4*columns_type + 0.4*isna
    return score*10

In [9]:
Evaluate_Your_Data(df)

8.25

In [10]:
Evaluate_Your_Data(df1)

7.5312080364464284

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 901 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  901 non-null    int64
 1   Survived     901 non-null    int64
 2   Pclass       901 non-null    object
 3   Name         901 non-null    object
 4   Sex          901 non-null    object
 5   Age          723 non-null    float64
 6   SibSp        901 non-null    int64
 7   Parch        901 non-null    int64
 8   Ticket       901 non-null    object
 9   Fare         901 non-null    float64
 10  Cabin        207 non-null    object
 11  Embarked     899 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 91.5+ KB